<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>MVC Thymeleaf Basics</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="img/favicon.png" rel="icon">
</head>

<body>
<div class="container">

    <div class="logo group underline">
        <a th:href="@{/index}"><img class="logo-img float-left" src="img/logo.png" alt="Logo"></a>
    </div>

    <nav class="nav group underline">
        <div th:insert="fragments/nav :: navigation_fragment"></div>
    </nav>

    <div class="main group center-aligned">
        <h2>
            Temperature Check
        </h2>
        <p>Please enter your temperature</p>
        <form th:action="@{/feverCheck}" method="post">
            <input type="text" th:name="temperature" placeholder="temperature">
            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </form>

        <br/>
        <br/>
        <br/>
        <br/>

        <h2>Temperature Status</h2>
        <p th:text=" 'Temperature = ' + ${bodyTemp?.getTemperature()} + ' ' + '*C' " ></p>
        <p th:text="${bodyTemp?.getTempStatus()}"></p>
    </div>

    <footer class="footer center-aligned">
        <div th:insert="fragments/footer :: footer_fragment"></div>
    </footer>

</div>
</body>

</html>