<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>MVC Thymeleaf Basics</title>
  <link rel="stylesheet" href="css/style.css">
  <link href="img/favicon.png" rel="icon">
</head>

<body>
<div class="container">

  <div class="logo group underline">
    <a th:href="@{/index}"><img class="logo-img float-left" src="img/logo.png" alt="Logo"></a>
  </div>

  <nav class="nav group underline">
    <div th:insert="fragments/nav :: navigation_fragment"></div>
  </nav>

  <div class="main group center-aligned">
    <table id="contactList">
      <thead>
         <tr>
            <th class="table"> Registered Email List </th>
         </tr>
      </thead>
      <tbody>
         <tr th:if="${contactList.isEmpty()}">
            <td> No registered email </td>
         </tr>
         <tr th:each="email : ${contactList}">
            <td><span th:text="${email}"> email </span></td>
         </tr>
      </tbody>
    </table>
  </div>


  <footer class="footer center-aligned">
      <div th:insert="fragments/footer :: footer_fragment"></div>
  </footer>

</div>
</body>

</html>